* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffc0cb23;
}

#container {
    text-align: center;
}

#alphabet {
    font-size: 4vw;
    cursor: pointer;
    padding: 3vw;
    border: 2px solid #333;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    background-color: #ffc0cb44;
}

@media (max-width: 768px) {
    #alphabet {
        font-size: 20vw;
        padding: 10vw;
    }
}

.hidden {
    display: none;
}

.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;

    label {
        margin-right: 5px;
        cursor: pointer;

        &::before {
            content: "🌞";
            font-size: 6vw;
        }
    }

    input[type="checkbox"] {
        display: none;

        &:checked+label::before {
            content: "🌙";
        }
    }
}

.dark-theme {
    background-color: #333;
    color: #fff;

    #alphabet {
        border: 2px solid #fff;
        background-color: #18191a;
    }
}