* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    // background-color: #add8e62d;
    background-color: #ffc0cb23;
}

#container {
    text-align: center;
}

#alphabet {
    font-size: 4vw;
    /* Kích thước phản ứng */
    cursor: pointer;
    padding: 3vw;
    /* Padding phản ứng */
    border: 2px solid #333;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    background-color: #ffc0cb44;
    // background-color: #add8e6;
}

/* CSS cho chế độ điện thoại */
@media (max-width: 768px) {
    #alphabet {
        font-size: 20vw;
        /* Kích thước phản ứng cho chế độ điện thoại */
        padding: 10vw;
        /* Padding phản ứng cho chế độ điện thoại */
    }
}

.hidden {
    display: none;
}

.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
}

.theme-toggle label {
    margin-right: 5px;
}

.theme-toggle input[type="checkbox"] {
    display: none;
}

.theme-toggle input[type="checkbox"]+label:before {
    content: "🌞";
    font-size: 6vw;
    /* Kích thước biểu tượng phản ứng */
}

.theme-toggle input[type="checkbox"]:checked+label:before {
    content: "🌙";
    font-size: 6vw;
    /* Kích thước biểu tượng phản ứng */
}

.dark-theme {
    background-color: #333;
    color: #fff;

    #alphabet {
        border: 2px solid #fff;
        background-color: #18191a;
    }
}